:root {
    --darkgrey:#403F3D;
    --beige:#BFAE9F;
    --cream:#F2E4D8;
    --grey:#737373;
    --black:#0D0D0D;
    --white: #ffffff;
}


body {
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: var(--grey); 
}
/******* Header Section ********/

.title h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    background-color: var(--grey);;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.header-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--cream);
    padding-bottom: 1rem;
}

.header-nav li {
    margin-top: 1rem 
}
.header-nav a {
    text-decoration: none;
    color: var(--darkgrey);
}

/******* Pseduo ********/

.header-nav a:hover {
    color: var(--black);
}

/******** Header Media Queries ********/
@media screen and (min-width: 1279px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: var(--cream);
    }
    .title {
        margin-left: 1rem;
        border-radius: 40px 10px 40px 10px;
        background-color: var(--grey);
        padding: 1rem;
        padding-left: 6rem;
        color: var(--cream);
    }
    .header-nav li { 
        display: inline;
        margin-right: 8rem;
        gap: -10px;
    }
    .header-nav a{ 
        cursor: pointer;
        border-bottom: 4px solid var(--grey);
        font-size: 20px;
        margin: -20px;
    }
}






/* Subheader Section*/
.subheader {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: var(--beige);
    /* background-image: url(/Images/image-6.jpeg);
    background-size: cover; */
}

/* Subheader Media Queries */
@media screen and (min-width: 1279px){
    .subheader {
        display: flex;
        justify-content: end;
        background-size:cover;    
}

    h2 {
        background-color: var(--grey);
        border-radius: 40px 10px 40px 10px;
        border: 2px solid none;
        margin-right: 8rem;
        padding: 1rem;
    } 
}








/* About Me Section */
.section-1 h3 {
    font-size: 3vw;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 1rem;
    font-size: 5vw;
}

p {
    margin-top: 2rem;
    margin: auto;
    margin-top: 1rem;
    text-align: justify;
    padding: 1rem;
    letter-spacing: -1px;
}

/* About Me Media Queries */
@media screen and (min-width: 1279px){
    .container-1 {
        display: flex;
        height: 35vh;
    }    
    .section-1 {
        flex: 20%;
        border-right: .3rem solid var(--black);
        margin-top: 2rem;
        justify-content: end;
    }
    .section-1 h3 {
        font-size: 40px;
        margin-top: 1rem;
        float: right;
    }

    article {
        flex: 80%;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 8rem;
        font-size: 1vw;
    }
}









/* Work Section */
.container-2{
    position: relative;
}
img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}
.section-2 h3 {
    font-size: 5vw;
    text-align: center;
    padding: 1rem;
}

.img2-txt a{
    position: absolute;
    top: 6rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 0px 10px 0px 10px;
    text-decoration: none;
    text-align: center;
}

.img3-txt a{
    position: absolute;
    top: 14rem;
    text-align: center;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 0px 10px 0px 10px;
    text-decoration: none;
} 
.img4-txt a{
    position: absolute;
    top: 22rem;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 2px solid var(--white);
    border-radius: 0px 10px 0px 10px;
}
.img5-txt a{
    position: absolute;
    top: 32rem;
    text-align: center;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 0px 10px 0px 10px;
    text-decoration: none;
}
.img6-txt a{
    position: absolute;
    top: 40rem;
    text-align: center;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 0px 10px 0px 10px;
    text-decoration: none;
} 


/******* Work Media Queries ********/
@media screen and (min-width: 1279px){
    .container-2 {
        display: flex;
        margin-top: 4rem;
        position: relative;
    }
    .section-2 {
        width: 40%;
        border-right: .3rem solid var(--black);
    }
    .section-2 h3 {
        font-size: 40px;
        float: right;
    }
    .images{
        margin-left: 10rem;
    }
    .row-1, .row-2, .row-3{
        display: flex;
        justify-content: space-evenly;
    }    
    .row-1 img{
        width: 144vh;
        height: 45vh;
        object-fit: cover;   
        margin: 10px; 
        border: 4px solid var(--beige);
    }

    .row-2 img {
        display: flex;
        width: 70vh;
        height: 30vh;
        flex-direction: row;
        object-fit: cover;    
        margin: 10px; 
        border: 4px solid var(--beige);
    }
    .row-3 img {
        display: flex;
        width: 70vh;
        height: 30vh;
        flex-direction: row;
        object-fit: cover;  
        margin: 10px;   
        border: 4px solid var(--beige);
    }
     .img2-txt a{
        font-size:25px;
        position: absolute;
        color: var(--cream);
        left: 86vh;
        top: 20vh;
        border-radius: 40px 10px 40px 10px;
        padding: 1rem;
        text-decoration: none;
    }

    .img3-txt a{
        position: absolute;
        color: var(--cream);
        left: 60vh;
        top: 65vh;
        border: 2px solid var(--cream);
        border-radius: 40px 10px 40px 10px;
        padding: 1rem;
        text-decoration: none;
    }
    .img4-txt a{
        position: absolute;
        color: var(--cream);
        left: 60vh;
        top: 100vh;
        text-decoration: none;
        border: 2px solid var(--cream);
        border-radius: 40px 10px 40px 10px;
        padding: 1rem;
    }
    .img5-txt a{
        position: absolute;
        color: var(--cream);
        left: 135vh;
        top: 65vh;
        border: 2px solid var(--brown);
        border-radius: 40px 10px 40px 10px;
        padding: 1rem;
        text-decoration: none;
    }
    .img6-txt a{
        position: absolute;
        color: orange;
        left: 135vh;
        top: 100vh;
        border-radius: 40px 10px 40px 10px;
        padding: 1rem;
        text-decoration: none;
    }
}
/* Pseduo */
img:hover
 {
    border: 4px solid var(--tav);
    opacity: .5;
}





/* Contact Section */
footer div h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 8vw;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 2rem;
}
.footer-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--cream);
}

.footer-nav li {
    margin-top: 1rem 
}
.footer-nav a {
    text-decoration: none;
    color: var(--black);
} 

/* Contact Media Queries */
@media screen and (min-width: 1279px){
    footer {
        display: flex;
        height: 190px;
        margin-top: 4rem;
    }
    footer div {
        width: 21.7%;    
    }

    footer div h3 {
        font-size: 40px;
        background-color: unset;
        border-right: 4px solid var(--black);
        margin-bottom: 1rem;
        justify-content: end;
        height: 130px;
        padding-right: 15px;

    }
    .footer-nav {
        display: flex;
        width: 100%;
        padding-top: 60px;
        background-color: var(--grey);
    }
    .footer-nav li{
        align-content: center;
        display: inline;
        margin-right: 8rem;
        color: var();
    }
    .footer-nav a{
        color: var(--cream);
        border-bottom: 4px solid var(--cream);
    }
}

/******* Pseudo *******/
.footer-nav a:hover {
    color: var(--black);
}